@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary: #ce0a31;
    --secundary: #ce0a3140;
    --black: #030303;
    --player: #2e2e2e;
    --color-text-light: #fff;
    --poppins-font:'Poppins', sans-serif;
    --font-roboto:'Roboto Slab', serif;
    
}

body{
    background-color: var(--black);
}

.container
{
	/* max-width: 960px; */
	margin: auto;
	width: 100%;
}

/*Header*/

header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
header.shadow
{
	background: #fff;
	box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
	transition: 0.4s;
}
.nav
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}
.logo
{
	font-size: 1.3rem;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--color-text-light);
}
.logo span{
    font-size: 2rem;
    font-family: var(--font-roboto);
    color: var(--primary);
}
.navbar
{
	display: flex;
	align-items: center;
	column-gap: 1.5rem;	
}
.nav-link
{
	position: relative;
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--color-text-light);
	font-family: var(--poppins-font);
	transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link::after
{
	content: " ";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0%;
	height: 2px;
	background: var(--color-text-light);
	transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover.nav-link::after
{
	width: 100%;
	transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.user-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;	
}
.menu-icon
{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 5px;
	cursor: pointer;
	z-index: 200;
	transition: 0.3s;
}
.menu-icon div
{
	display: block;
	background: var(--color-text-light);
	height: 3px;
	width: 25px;
	transition: 0.3s;
}

.cover-music{
    width: 600px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    position: relative; 
    display: block;   
    margin: -12px;
}

.progress-bar .bar{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 12px;
    width: 100%;
    height: 0.2rem;
    background-color: var(--secundary);
    overflow: hidden;
}

.progress-bar .bar .fill{
    display: block;
    width: 10%;
    height: 100%;
    background-color: var(--primary);
}

.progress-bar input[type="range"]{
    -webkit-appearance: none;
   background: transparent;
   outline: none;
   width: 100%;
   height: 2px;
   border-radius: 2px;   
}

.progress-bar input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 9px;
    height: 9px;
    border-radius: 50%; 
    

    background: var(--primary);
    cursor: pointer;
}

.progress-bar input[type="range"]::-webkit-slider-thumb:hover{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    transition: 2s;
    

    background: var(--primary);
    cursor: pointer;
}

audio{
    display: none;
}

.player
{
width: 100%;
height: 5rem;
background-color: var(--player);
color: #fff;
bottom: 0;
position: fixed;
display: block;
}

.player .player__controls{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    font-size: 3rem;
    cursor: pointer;
    margin-top: 1rem;
}
.player .player__controls div:nth-child(2){
    transform: scale(1.5);
}

.volume{
    width: 5rem;
    height: 5rem;
    background-color: var(--player);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 5px;
    cursor: pointer;

}
.volume i {
    right: 10px;
    font-size: 2rem;
    color: #fff;
    margin-top: .5rem 3rem;
    padding: 0 5rem 0 2rem;
}
.volume input[type="range"]{
    -webkit-appearance: none;
    width: 5rem;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
    margin: .5rem;    
}

.volume input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
/* -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 

    background: #fff;
    cursor: pointer; */
.volume input[type="range"]::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 

    background: #fff;
    cursor: pointer;
}
